input:invalid{
    animation: shake .4s;
}
@keyframes shake{
    25% { transform: translate(4px);}
    50% { transform: translate(-4px);}
    75% { transform: translate(4px);}
}

.forma-text{
    background-color: #212529;
    color: white;
}